.pageContent {
  padding: 2.813rem 3.125rem;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
  background-color: rgba(255, 255, 255, 1);
}
.mobileNav {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
  .pageContent {
    width: 100%;
    padding: 1.563rem 1.875rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .mobileNav {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(237, 242, 254);
    min-height: 10vh;
  }

  .navLink {
    width: 50px;
    text-decoration: none;
    color: rgba(52, 61, 72, 1);
    font-size: 1.0625rem;
    font-weight: 400;
    &:hover {
      margin-left: 0px;
      transition: ease 0.5s;
    }
  }
  .listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0px;
    border-radius: 10px;
  }
  .listItemLabel {
    display: none;
  }
  .logoutIcon {
    display: none;
  }
}
